.animal_profiles {
  width: 500px;
  float: left;
  border: 2px solid black;
  height: 350px;
  margin: 10px;
  text-align: center;
}

.about_me {
  position: absolute;
  bottom: 150px;
}

.animal_profiles p {
  font-size: 24px;
  font-family: sans-serif;
}

.bottom_row {
  position: absolute;
  bottom: 300px;
}

.animal_profiles#dog {
  background: #D0FCFA;
}

.animal_profiles#dog p {
  font-size: 24px;
  font-family: sans-serif;
}
.animal_profiles#cat {
  background: #DEFCD0;
}

.animal_profiles#chicken {
  background: #FCF4D0;
}

.animal_profiles#goat {
  background: #DBD0FC;
}

h3 {
  font-size: 32px;
  font-family: cursive;
}
