.everything {
  position: absolute;
}

.animal_profiles {
  width: 500px;
  float: left;
  border: 2px solid black;
  height: 400px;
  margin: 10px;
  text-align: center;
}

.about_me {
  margin-top: 10px;
}

.animal_profiles p {
  font-size: 24px;
  font-family: sans-serif;
}

.animal_profiles#dog {
  background: #D0FCFA;
}

.animal_profiles#cat {
  background: #DEFCD0;
}

.animal_profiles#chicken {
  background: #FCF4D0;
}

.animal_profiles#goat {
  background: #DBD0FC;
}

h3 {
  font-size: 32px;
  font-family: cursive;
}

@media screen (min-width: 1400px) {
  .bottom_row {
  max-width: 200px;
  }
}
